body {
    font-family: 'Calibri', 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #000000; 
    box-sizing: border-box; 
} 

.header {
    text-align: center;
}




.header3 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.header2 {
    margin-left: 10px; 
}

.psu-logo {
    width: 80px;
    
}

.header {
    text-align: center;
}





.reg-number-container {
    text-align: left;
}

.student-info, .subject-list  {
    border: 1px solid #000000;   
    margin: 10px 0;
    
}

.student-info h4, .subject-list h4,  .refund-rules h4 {
    margin: 0 0 10px 0;
    text-align: center;
}


.student-info h4, thead  {
    background-color: rgb(96, 125, 255); 
    padding: 10px;
    
}
.student-info table {
    width: 100%; 
}

.student-info td {
    padding: 5px; 
}

table {
    border-collapse: collapse; 
    width: 100%; 
}

.subject-list{
    width: 100%;
}

.subject-list td{
    padding: 5px;
}




.fees {
    
    border: 1px solid #000; 
    padding: 15px; 
    
}

.table-container {
    display: flex;
    justify-content: space-between;
}



.refund-rules {
    flex: 0 0 55%;
    margin-left: 20px;
}

